

.fans{
    margin-left: 300px;
    margin-right: 300px;
   

    background-image: url("https://firebasestorage.googleapis.com/v0/b/music-2b7e1.appspot.com/o/formulario.jpg?alt=media&token=bad7008d-1434-49b4-b332-406c96720a1f");
    background-position: right;
    opacity: 1.9;
}