.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/music-2b7e1.appspot.com/o/wkbanner.jpg?alt=media&token=6e5adf8a-ca54-4c9a-8ba8-783d64152898");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 40%;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container_dos{
    
}