.elemento{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/music-2b7e1.appspot.com/o/bannerShoop.webp?alt=media&token=12c27b8f-ce49-44d3-9d7e-f9d4d6f0a594");
    background-size: cover;
  background-position: center;
}